# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore cache and such.
.DS_Store
.sass-cache

# Ignore devel modules
devel
