@media (min-width: $second_breakpoint) {
    table {
        font-size: .85em;
    }
    td {
        padding: .5em 1em;
        &.views-field-field-location{
            width: 20%;
        }
        &.views-field-title{
            font-size:1.2em;
            width: 25%;
        }
    }
}
// Narrow width settings for tables and forms
@media (max-width: $second_breakpoint) {
    caption {
        display: block;
    }
    th {
        display: none;
    }
    .views-field-title {
        @include pushbutton-effect($white, $gray);
        a {
            padding: .5em 2%;
            width: 96%;
            font-size: 1.2em;
            color: $darkred;
        }
        padding: .25em;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, td, tr {
        display: inline-table;
        margin: .5em 0;
    }
    td {
        margin: .5em;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid $gray;
        border-radius: $radius;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
    }
}
